video, .controls, .social{
    display: block;
    width: 24rem;
    margin: 1rem auto;
}

.viewsContainer{
    float: left;
}

.voteContainer{
    float: right;
}

.timeContainer{
    float: right;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
}

button img {
    width: 2rem;
}

button img:hover {
    /* Make button grey on hover */
    filter: invert(70%);
}


